a
{
    background-color: rgb(211, 211, 211);
    color: rgb(83, 0, 139);
    font-size: 30pt;
}

a:hover
{
    background-color: rgb(230, 221, 173);
    color: rgb(0, 60, 255);
    font-size: 30pt;
}

p
{
  background-color: rgb(128, 128, 128);
  color: rgb(100, 0, 67);
  font-family: Courier;
  font-size: 16pt;
}

p:hover
{
  background-color: rgb(128, 128, 128);
  color: rgb(7, 0, 100);
  font-family: Courier;
  font-size: 16pt;
}
p.THESHY
{
  color: rgb(255, 255, 255);
  background-color: red;
}
